<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CPBundleIdentifier</key>
    <string>org.archipelproject.strophecappuccino</string>
    <key>CPBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CPBundleName</key>
    <string>StropheCappuccino</string>
    <key>CPBundlePackageType</key>
    <string>FMWK</string>
    <key>TNStropheConnectionMaxConnection</key>
    <integer>1</integer>
    <key>TNStropheConnectionTimeout</key>
    <integer>60</integer>
    <key>TNStropheConnectionGiveUpTimer</key>
    <real>8.0</real>

    <!--
        0: use stropheJS built-in event loop
        1: use StropheCappuccino bypass system to use the Cappuccino event loop
    -->
    <key>TNStropheJSUseCappuccinoRunLoop</key>
    <integer>0</integer>
    <!--
        be carefull with this one.
        it is the delay between two runs
        of the Strophe.js runloop.
        A too small value should loads too much your CPU,
        a too high value should make XMPP to be disconnected
        0.1 is cool
    -->
    <key>TNStropheJSRunLoopInterval</key>
    <real>0.1</real>
</dict>
</plist>
